/* Category Page design */
.article_banner {
  background-size: cover;
}
.article_banner .banner_inner_wrap {
  width: 40vw;
}

.article_banner .banner_inner_wrap h1 {
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  text-transform: capitalize;
}

.article_banner .banner_inner_wrap p {
  font-size: 15px;
  line-height: 25px;
}

.searched-image {
  width: 50px;
  height: 50px;
}

span.badge.hardBadge {
  background: rgba(255, 58, 68, 0.9);
}
span.badge.mediumBadge {
  background: rgba(255, 189, 0, 0.9);
}
span.badge.smallBadge {
  background: rgba(50, 160, 113, 0.9);
}
.reltTopics {
  padding-top: 0;
}
.category_page .about_hero.inner_cmn_hero.blog_sec {
  background-image: url("../../assets/images/category-bannerbg.png");
}
.category_page .about_hero.inner_cmn_hero.blog_sec::before {
  background: rgba(0, 0, 0, 0.5);
}

.cg-carousel {
  position: relative;
  overflow: hidden;
}

.cg-carousel__container {
  position: relative;
  left: 0;
}

.cg-carousel__track {
  position: relative;
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
}

.cg-carousel__slide {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  cursor: pointer;
}
