/* Fonts Start Here */
@font-face {
  font-family: sairaL;
  src: url(../assets/fonts/Saira-Light.ttf);
}
@font-face {
  font-family: sairaR;
  src: url(../assets/fonts/Saira-Regular.ttf);
}
@font-face {
  font-family: sairaM;
  src: url(../assets/fonts/Saira-Medium.ttf);
}
@font-face {
  font-family: sairaSB;
  src: url(../assets/fonts/Saira-SemiBold.ttf);
}
@font-face {
  font-family: sairaB;
  src: url(../assets/fonts/Saira-Bold.ttf);
}
@font-face {
  font-family: montL;
  src: url(../assets/fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: montR;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: montRI;
  src: url(../assets/fonts/Montserrat-Italic.ttf);
}
@font-face {
  font-family: montM;
  src: url(../assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: montSB;
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: montB;
  src: url(../assets/fonts/Montserrat-Bold.ttf);
}
/* Fonts End Here */
/* common css starts here */
.sairaL {
  font-family: sairaL !important;
}
.sairaR {
  font-family: sairaR !important;
}
.sairaM {
  font-family: sairaM !important;
}
.sairaSB {
  font-family: sairaSB !important;
}
.sairaB {
  font-family: sairaB !important;
}
.montL {
  font-family: montL !important;
}
.montR {
  font-family: montR !important;
}
.montRI {
  font-family: montRI !important;
}
.montM {
  font-family: montM !important;
}
.montSB {
  font-family: montSB !important;
}
.montB {
  font-family: montB !important;
}
body {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: montR;
}
h1 {
  font-family: sairaR;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: sairaSB;
  margin: 0%;
}
p {
  margin: 0%;
}
img {
  height: 100%;
  max-width: 100%;
}
.space {
  padding: 70px 0px;
}
.cm_bg {
  background: #ff851b !important;
}
.cm-color {
  color: #ff851b !important;
}
a {
  text-decoration: unset;
}
a.tag.cm_bg {
  padding: 0.2em 0.5em;
  border-radius: 35px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.heading {
  font-family: sairaSB;
  font-size: 35px;
  line-height: 45px;
  text-transform: capitalize;
}
.cmn_heading_area {
  margin-bottom: 30px;
}
.cmn_heading_area .small_desc {
  color: #777777;
  margin-top: 10px;
}
.tittle_cm span {
  color: #ff851b;
}
span.badge {
  background-color: #ff851b;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px 10px 26px;
  position: relative;
  display: inline-block;
}

span.badge::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 5px;
  height: 5px;
  background: #ffff;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
/* common css ends here */

/* Loader Styling Start Here */
.fadeout {
  opacity: 0;
  filter: alpha(opacity=0);
}
.loader {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.loader-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.circle {
  width: 8vmax;
  height: 8vmax;
  border-right: 4px solid #000;
  border-radius: 50%;
  -webkit-animation: spinRight 800ms linear infinite;
  animation: spinRight 800ms linear infinite;
}
.circle:before {
  content: "";
  width: 6vmax;
  height: 6vmax;
  display: block;
  position: absolute;
  top: calc(50% - 3vmax);
  left: calc(50% - 3vmax);
  border-left: 3px solid #ff851b;
  border-radius: 100%;
  -webkit-animation: spinLeft 800ms linear infinite;
  animation: spinLeft 800ms linear infinite;
}
.circle:after {
  content: "";
  width: 6vmax;
  height: 6vmax;
  display: block;
  position: absolute;
  top: calc(50% - 3vmax);
  left: calc(50% - 3vmax);
  border-left: 3px solid #ff851b;
  border-radius: 100%;
  -webkit-animation: spinLeft 800ms linear infinite;
  animation: spinLeft 800ms linear infinite;
  width: 4vmax;
  height: 4vmax;
  top: calc(50% - 2vmax);
  left: calc(50% - 2vmax);
  border: 0;
  border-right: 2px solid #000;
  -webkit-animation: none;
  animation: none;
}
@-webkit-keyframes spinLeft {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
@keyframes spinLeft {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
@-webkit-keyframes spinRight {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes spinRight {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
/* Loader Styling End Here */

/* Header Styling Start */
.menu_logo {
  display: none;
}
.header .ticker {
  display: flex;
  align-items: center;
}

.header .ticker .title {
  flex: 0 0 180px;
  text-align: center;
  position: relative;
  background: #000;
  color: #fff;
  border-radius: 0 0 8px 8px;
  padding: 15px 26px;
  margin-right: 12px;
  margin-bottom: -10px;
}

.header .ticker .title h5 {
  font-size: 18px;
  font-family: sairaR;
}

.header .news marquee {
  font-size: 15px;
}

.header .news-content p {
  margin-right: 41px;
  display: inline;
  position: relative;
}
.header .news-content p::before {
  position: absolute;
  content: "";
  right: -16px;
  top: 0;
  height: 100%;
  background: #fff;
  width: 2px;
}
.navbar-light .navbar-brand {
  font-size: 32px;
}

.navbar-light ul.navbar-nav {
  align-items: center;
  font-family: "sairaR";
}

.navbar-light ul.navbar-nav li.nav-item a.nav-link {
  position: relative;
  transition: 0.5s;
  padding-right: 20px;
}

.navbar-light ul.navbar-nav li.nav-item a.nav-link::before {
  position: absolute;
  content: "";
  bottom: 5px;
  width: 0;
  height: 2px;
  background: #f9b248;
  right: 20px;
  transition: 0.5s;
}

.navbar-light ul.navbar-nav li.nav-item.active a.nav-link::before,
.navbar-light ul.navbar-nav li.nav-item a.nav-link:hover::before {
  width: 56%;
}
.navbar-light ul.navbar-nav li.nav-item a.nav-link {
  color: #000;
}

.navbar-light ul.navbar-nav li.nav-item.btn {
  padding: 0;
}

.navbar-light ul.navbar-nav li.nav-item.btn a.nav-link::before {
  display: none;
}

.navbar-light ul.navbar-nav li.nav-item.btn a.nav-link {
  padding: 0;
}

.navbar-light ul.navbar-nav li.nav-item.btn:not(:last-child) a.nav-link {
  padding: 0 12px;
}
/* Header Styling End  */

/* Home Body Styling Start */
/* hero section starts here */
.hero_outer {
  background-image: url("../assets/images/home-main.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero_outer::before {
  position: absolute;
  background-color: rgba(0, 0, 0, 70%);
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.search_bar input.form-control {
  height: 54px;
  border-radius: 8px 8px 0 0 !important;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 10px 30px;
  font-size: 17px;
  line-height: 21px;
}
.search_bar {
  position: relative;
}
.search_bar .input-group input.form-control {
  cursor: pointer;
}

.search_bar i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff851b;
}
.hero_content h1 {
  color: #fff;
}
.hero_content h1 span {
  color: #ff851b;
}
.hero_content p {
  color: #fff;
  margin: 1.5em 0em;
  font-size: 15px;
  line-height: 25px;
}
.hero_content {
  position: relative;
  z-index: 1;
  width: 45vw;
  margin: auto;
  text-align: center;
}
.search_tags ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  justify-content: center;
}

.search_tags ul li {
  list-style: none;
  padding: 0em 0.2em;
}
.search_tags ul li a {
  padding: 0.7em 1.2em;
  border-radius: 35px;
  font-size: 10px;
  display: inline-block;
  text-transform: capitalize;
  color: #fff;
}
.search_results {
  background: #fff;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #0000001a;
  position: absolute;
  top: 54px;
  width: 100%;
  left: 0;
}
.search_results .search_result_item {
  display: flex;
  align-items: center;
  padding: 10px 18px;
}
.search_results .search_result_item p {
  margin: 0;
  color: #797979;
  text-align: left;
  font-size: 11px;
  line-height: 17px;
}
.search_result_img {
  margin-right: 9px;
  position: relative;
  overflow: hidden;
  border-radius: 7px;
}
.search_result_img::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #ff851b54;
}
.search_results a {
  text-decoration: none;
  color: #000;
}
.search_results .search_result_item h6 {
  font-size: 12px;
  line-height: 18px;
}
.search_results a:hover .search_result_item h6 {
  color: #ff851b;
}
.search_results a:not(:last-child) .search_result_item {
  border-bottom: 1px solid #0000001a;
}
.search_bar {
  width: 500px;
  margin: 0 auto;
}
/* Home Body Styling End */
/* category image */
.cate_img {
  overflow: hidden;
  overflow: hidden;
  border-radius: 10px;
}
.cate_carousal {
  position: relative;
  text-align: center;
  padding-right: 10px;
}
.cate_text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.cate_img img {
  width: 100%;
}
/* .category_carousal {
  padding-left: 4em;
} */
p.cate_name {
  font-family: "sairaR";
  font-size: 19px;
  line-height: 30px;
}
.cate_text h3 {
  font-size: 120px;
  color: transparent;
  -webkit-text-stroke: 1px white;
}
.category_carousal .slick-slide > div {
  line-height: 0;
}
.cate_carousal a {
  color: #fff;
}
.category_carousal .slick-next {
  right: 0px;
  height: 100%;
  background: linear-gradient(
    89.11deg,
    #000000 -52.69%,
    rgba(0, 0, 0, 0) 137.87%
  );
  width: 40px;
}
.category_carousal .slick-next:before {
  font-family: "FontAwesome";
  content: "\f105 ";
  font-weight: 400;
}
.cm-btn {
  color: #ff851b;
  display: inline-block;
  background: #fff7f7;
  border-radius: 50px;
  padding: 0.6em 1.2em;
  transition: 0.5s;
  text-decoration: none;
  text-decoration: none !important;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  font-family: sairaM;
}
.cm-btn:hover {
  transition: 0.5s;
  color: #ff851b;
}
.cm-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 3px 20px rgb(0 0 0 / 30%);
}
.slider {
  width: 100%;
  height: 200px;
  position: relative;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}
.slider .item {
  min-width: 149px;
  height: auto;
  position: relative;
  overflow: hidden;
  box-shadow: 8px;
}
.cg-carousel .cate_text h3 {
  line-height: 100px;
  font-size: 100px;
}
.cg-carousel .cate_img {
  line-height: 0;
}
.cg-carousel img {
  height: auto;
  max-width: 100%;
}

.cg-carousel .cate_text {
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 15px;
}

.cg-carousel .cate_text p.cate_name {
  color: #fff;
  text-align: center;
  padding-bottom: 15px;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider .slide {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.3s left ease-in-out;
}

.slider .item {
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

section.category_carousal .cg-carousel__slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    181.41deg,
    rgb(51 51 51 / 70%) -6.23%,
    rgba(255, 255, 255, 0) 201.41%
  );
}
section.category_carousal.space:hover .ctrl-btn {
  opacity: 1;
}

.slider .item:last-child {
  margin-right: 0;
}

.ctrl {
  text-align: center;
  margin-top: 5px;
}

.ctrl-btn {
  padding: 20px 10px;
  min-width: 40px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;
  z-index: 9;
  position: absolute;
  top: 0;
  margin-top: 0;
  height: 100%;
  color: #fff;
  opacity: 0;
}
.ctrl-btn i.fa {
  font-size: 30px;
}

.ctrl-btn.pro-prev {
  left: 0;
}

.ctrl-btn.pro-next {
  right: 0;
}

/* .cate_img::after {
  position: absolute;
  background-color: rgba(0, 0, 0, 70%);
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 11px;
} */
/* category image */
/* about section starts here */
.about_outer {
  background-image: url("../assets/images/home-about_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.about_outer .about_img {
  background-image: url(../assets/images/home-about_img_bg.png);
  background-size: 100%;
  background-position: right center;
  padding: 50px 0;
  background-repeat: no-repeat;
}
.about_content span {
  color: #fff;
}
.tittle_cm,
.about_content p {
  color: #000;
}
.about_content {
  padding: 0 4em;
}
/* about section ends here */
/* phelospy section starts here */
.philosphy_outer {
  text-align: center;
}
.animate_text p {
  background: rgba(0, 0, 0, 70%);
  color: #fff;
}
.phil_card {
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  position: relative;
}
.phil_card figure {
  height: 220px;
  margin: 0;
}
.sub_text {
  margin: 0.5em 0em 2.5em;
}
.philosphy_outer {
  background-image: url("../assets/images/philospy.png");
  background-size: cover;
  background-position: top;
}
.phil_card figure img {
  width: 100%;
}
.animate_text {
  position: absolute;
  bottom: 61px;
  width: 100%;
  left: 0;
  overflow: hidden;
  opacity: 0;
  transition: ease all 0.5s;
  -webkit-transition: ease all 0.5s;
  text-align: center;
}
.phil_card:hover .animate_text {
  opacity: 1;
  transition: ease all 0.5s;
  -webkit-transition: ease all 0.5s;
}
.animate_text img {
  margin-bottom: -1.5em;
}
.phil_card img {
  object-fit: cover;
}
.phil_card figcaption {
  background: #ff851b;
  padding: 14px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  font-family: sairaSB;
}
.animate_text p {
  margin: 0;
  padding: 0.7em;
  padding-top: 2.2em;
  text-align: center;
}
/* latest Topics section */
.latest_topics {
  background-image: url(../assets/images/latest_topics_bg.png);
  background-size: cover;
  background-position: center;
}
.latest_topics_box {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.latest_topics_box .latest_topics_box_cont {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
  color: #fff;
}

.latest_topics_box img {
  height: 430px;
  width: 100%;
  object-fit: cover;
}

.latest_topics_box .latest_topics_box_cont h3.title {
  font-size: 22px;
  margin: 20px 0 10px;
}

.latest_topics_box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 70%);
}
.full_width_topic.latest_topics_box img {
  height: 500px;
}
.category_blocks_items {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.category_blocks_items .category_blocks_cont {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  inset: 0;
  padding: 10px 28px;
}
.category_blocks_items::before {
  content: "";
  inset: 0;
  position: absolute;
  background: #00000080;
}
.category_blocks_items img {
  height: 50px;
  object-fit: cover;
  width: 100%;
}
.category_blocks_items span.badge {
  background: #fff;
  color: #000;
}
.category_blocks_items span.badge::before {
  background-color: #000;
}
.category_blocks h4 {
  padding-bottom: 10px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 15px;
  position: relative;
}

.category_blocks h4::before {
  content: "";
  position: absolute;
  left: 0;
  width: 20%;
  height: 2px;
  background: #ff851b;
  bottom: -2px;
}
.ads_img img {
  height: 100%;
  object-fit: cover;
}
/* New Things */
.new_things {
  background-image: url(../assets/images/newthings_bg.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.new_things_wrap p.small_desc {
  color: #18191f !important;
}
.new_things_images img {
  margin: -70px 0;
}
/* World Section */
.world {
  background-image: url(../assets/images/world_section_bg.png);
  background-size: cover;
  background-position: center;
}
.world_cont {
  margin-bottom: 40px;
}
.world .world_cont_desc p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

/* Latest Blog Section */
.latest_blog {
  background-image: url(../assets/images/latest_blog_bg.png);
  background-size: cover;
  background-color: #eee9e1;
}
.latest_blog_box {
  display: flex;
  align-items: center;
}

.latest_blog_box .latest_blog_img {
  flex: 0 0 45%;
}

.latest_blog_box .latest_blog_box_cont {
  padding-left: 20px;
}

.latest_blog_box .latest_blog_box_cont .title {
  font-size: 22px;
  line-height: 30px;
  margin: 10px 0 1px;
}

.latest_blog_box .latest_blog_box_cont span.blog_time {
  font-size: 13px;
  line-height: 16px;
}

.latest_blog_box .latest_blog_box_cont span.blog_time img {
  margin-right: 3px;
}

.latest_blog_box .latest_blog_box_cont p.blog_text {
  font-size: 15px;
  line-height: 22px;
  color: #333333;
  margin: 10px 0;
}

.latest_blog_box .latest_blog_box_cont a.latest_blog_btn {
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  transition: 0.5s;
}
.latest_blog_box .latest_blog_box_cont a.latest_blog_btn:hover {
  color: #ff851b;
  transition: 0.5s;
}
/* Download App Section */
section.download_app {
  background-image: url(../assets/images/download_app_bg.png);
  background-size: cover;
}
.download_app .dowload_app_box_item {
  background-color: #ffe0b1;
  border-radius: 20px;
  padding: 50px;
  padding-bottom: 0;
}

.download_app .dowload_app_box_item .dowload_app_box_cont p {
  color: #777777;
  padding: 10px 0 30px;
}

.download_app .dowload_app_box_img {
  text-align: center;
}

.download_app .dowload_app_box_item a.dowload_app_box_btn {
  display: inline-block;
  background: #ff851b;
  color: #fff;
  padding: 10px 25px;
  border-radius: 5px;
}

.download_app .dowload_app_box_cont a.dowload_app_box_btn img {
  margin-right: 12px;
}

.download_app .dowload_app_box_cont {
  margin-bottom: 40px;
}
.dowload_app_box_cont .heading {
  font-size: 28px;
  line-height: 38px;
}

/* Footer Styling Start */
.footer_inner {
  background-color: #23292e;
  background-image: url(../assets/images/circle-map.png);
  background-size: 22%;
  background-repeat: no-repeat;
  background-position: 80% center;
}
.footer_inner .footer_box a {
  text-decoration: none;
  display: block;
}
.footer_inner p {
  color: #9b9b9b;
  font-size: 15px;
}
.footer_inner .footer_box ul li a:hover {
  color: #fff;
}
.footer_inner .footer_box ul li a {
  color: #9b9b9b;
  font-size: 15px;
  margin-bottom: 12px;
}
.footer_inner .footer_logo,
.footer_head {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}
.last_footer_box {
  text-align: right;
}
/* Footer Styling End  */

/*==================== About Page Styling ====================*/

/* About here section starts here  */

.about_hero.inner_cmn_hero {
  background-image: url("../assets/images/about_banner_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.about_hero {
  color: #fff;
}
.about_hero a {
  color: #fff;
}
.about_hero a.active {
  color: #000;
}

/* about about starts here */
.about_page .philosphy_outer {
  background-color: #f9eadc;
}
.inner_cmn_hero {
  background-image: url(/assets/images/about_banner_bg.png);
  background-size: cover;
  background-position: bottom;
  padding: 100px 0 180px;
}

section.about_section {
  background-image: url("/assets/images/about_inner.png");
}
.about_outer.about_section .about_img {
  background-image: unset;
  padding: 0;
}
.about_section .about_content span {
  color: #ff851b;
}
.about_section .cm-btn.cm_bg {
  color: #fff;
}
.offercard figure {
  background: #ff851b;
  display: inline-block;
  padding: 10px;
  border-radius: 7px;
}
.offercard {
  text-align: left;
  padding: 20px;
  box-shadow: 0px 0px 12px rgb(0 0 0 / 9%);
  border-radius: 15px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  height: 100%;
}
.offercard::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 70px;
  left: 0;
  height: 3px;
  background: #ff851b;
  transition: 0.5s;
}
.offercard:hover::before {
  width: 100%;
  transition: 0.5s;
}

.offercard figure-caption {
  display: block;
  color: #000;
  margin: 15px 0px;
  font-size: 22px;
  font-weight: 600;
}
.offercard p {
  font-size: 14px;
  line-height: 26px;
  color: #80776f;
}
/* partner about starts here */
.partners {
  text-align: center;
}
.partners ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.partners ul li {
  padding: 5px;
  flex: 0 0 20%;
}

/* Company Info SSeciton Start */
.company_info {
  background-image: url(../assets/images/about-story_bg.png);
  background-size: cover;
  background-position: right;
  position: relative;
}
.company_info::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(255 133 27 / 70%);
}
/* blog page css starts here */
.blog_card figure {
  margin: 0;
}
.blog_card {
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
}

.blog_content {
  padding: 1em;
}

.blog_content a figure-caption {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s;
}
.blog_content a:hover figure-caption {
  color: #ff851b;
  transition: 0.5s;
}
.blog_content a {
  text-decoration: none;
}

.blog_content p {
  color: #80776f;
}
.blog_content .cm-btn {
  color: #fff;
}
.blog_card figure {
  position: relative;
}

.blog_card span.badge {
  position: absolute;
  top: 15px;
  left: 15px;
}

.blog_info {
  display: flex;
  padding: 8px 0 15px;
}

p.blog_excrept {
  margin-bottom: 1em;
}
.card_wrapper {
  margin-bottom: 2em;
}
.side_card .card_list {
  display: flex;
}

.card_list_img {
  height: 40px;
  width: 40px;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}
.card_list_img::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(255 133 27 / 33%);
}

.card_list_text p {
  font-size: 12px;
  color: #000;
}

p.post_type {
  color: #797979;
  font-size: 11px;
}
.card_list_text {
  margin-left: 10px;
}
.side_bar {
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  border-radius: 7px;
  margin-bottom: 2em;
}
.side_card li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5em 1.2em;
}
.side_card li a {
  text-decoration: none;
}
.download_cont_block {
  padding: 0 30px;
}

.download_cont_block ul.download_app_btns {
  display: flex;
  align-items: center;
}

ul.download_app_btns {
  padding: 0;
  margin: 0;
  list-style: none;
}

.download_cont_block ul.download_app_btns li.tag_block {
  padding: 15px 0 30px;
}

.download_cont_block ul.download_app_btns li.tag_block:first-child {
  padding-right: 15px;
}
.sidebar_ads {
  margin-bottom: 2em;
}
.blog_info p {
  font-size: 13px;
}
.cmn_blog_info {
  display: flex;
  align-items: center;
}
.blog_date.cmn_blog_info {
  padding-right: 12px;
}
.cmn_blog_info img {
  padding-right: 8px;
}
.side_card h3 {
  color: #ff851b;
  padding: 0.7em;
  padding-left: 1em;
  font-weight: 300;
}
.side_card li:last-child {
  border-bottom: unset;
}
ul.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 5px 10px;
}
ul.tags li.tag_block {
  border: none;
  padding: 10px;
}
.pagination a.page-link {
  border: none;
  color: #000;
  margin-right: 10px;
  font-size: 15px;
}

.pagination a.page-link.page_link_btn {
  background: #ff851b;
  color: #fff;
  border-radius: 30px;
  padding: 7px 20px;
}
.pagination a.page-link.active {
  color: #ff851b;
}
.about_hero.inner_cmn_hero.blog_sec {
  background-image: url(../assets/images/blog_banner_bg.png);
  position: relative;
}
.about_hero.inner_cmn_hero.blog_sec::before {
  content: "";
  inset: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
}

.about_hero.inner_cmn_hero.blog_sec::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  background-image: url(../assets/images/design.svg);
  height: 200px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
.about_hero.inner_cmn_hero.blog_sec .container {
  position: relative;
}
/* blog page css ends here */

.cg-carousel {
  position: relative;
  overflow: hidden;
}

.cg-carousel__container {
  position: relative;
  left: 0;
}

.cg-carousel__track {
  position: relative;
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  gap: 15px;
}

.cg-carousel__slide {
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

@-webkit-keyframes slideIn {
  100% {
    left: 0;
  }
}

@keyframes slideIn {
  100% {
    left: 0;
  }
}

@-webkit-keyframes slideOutLeft {
  100% {
    left: -100%;
  }
}

@keyframes slideOutLeft {
  100% {
    left: -100%;
  }
}

@-webkit-keyframes slideOutRight {
  100% {
    left: 100%;
  }
}

@keyframes slideOutRight {
  100% {
    left: 100%;
  }
}
/* Single Blog Page Styling Start */
.single_blog h2.blog-title {
  font-size: 34px;
  line-height: 44px;
  margin-bottom: 15px;
}

.single_blog p.blog_cont {
  font-size: 16px;
  text-align: justify;
  line-height: 28px;
  margin-bottom: 15px;
  font-family: montM;
  color: #000;
}

.single_blog h4.blog_inner_heading {
  font-size: 22px;
  line-height: 32px;
  margin: 25px 0 10px;
  color: #ff851b;
  font-family: sairaM;
}
.single_blog .quote {
  background: #fad296;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 25px;
}

.single_blog .quote p {
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 10px;
  font-style: italic;
  color: #000;
  font-family: "montM";
}

.single_blog .quote h5 {
  font-family: "sairaM";
  color: #ff851b;
  line-height: 32px;
  font-size: 22px;
}
.single_blog .video_block {
  position: relative;
}
.single_blog .video_block .video_icon i {
  color: #fff;
  font-size: 20px;
  display: inline-block;
  width: 50px;
  line-height: 50px;
  background: rgb(255 133 27 / 80%);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.single_blog .video_block img {
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
}
.Breadcrums a {
  text-decoration: none;
}
.Breadcrums a.cm-color:hover {
  text-decoration: underline;
}
.side_card ul.social_links {
  display: flex;
  align-items: center;
  padding: 0 26px 20px;
}

.side_card ul.social_links li.links {
  padding: 0;
  border: none;
}

.side_card ul.social_links li.links a {
  width: 41px;
  line-height: 40px;
  display: inline-block;
  background: #ff851b;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin: 4px;
}
.side_card ul.social_links li.links.facebook a {
  background: #305c99;
}
.side_card ul.social_links li.links.instagram a {
  background: #3f729b;
}
.side_card ul.social_links li.links.youtube a {
  background: #e22b26;
}
.side_card ul.social_links li.links.twitter a {
  background: #00cdff;
}
.see_more {
  font-size: 16px;
  background: #ff851b;
  text-align: center;
  line-height: 10px;
  color: #fff !important;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 10px;
}
.see_more i {
  font-size: 26px;
}

/* Article Page design */
.article_banner .banner_inner_wrap {
  width: 40vw;
}

.article_banner .banner_inner_wrap h1 {
  font-size: 90px;
  line-height: 60px;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 25px;
}

.article_banner .banner_inner_wrap p {
  font-size: 15px;
  line-height: 25px;
}
