/* slider link */
/* https://codepen.io/maqnus/pen/rWVGZW 
   https://codepen.io/WenukaGTX/pen/VQMxEm
   
*/

/* Responsive Styling Start */
@media screen and (min-width: 1440px) {
}
@media screen and (max-width: 1199px) {
  .hero_content {
    width: 63vw;
  }
  .cate_text h3 {
    font-size: 85px;
  }
  .heading {
    font-size: 30px;
    line-height: 48px;
  }

  .latest_blog_box .latest_blog_box_cont p.blog_text {
    font-size: 14px;
  }
  .latest_blog_box .latest_blog_box_cont .title {
    font-size: 18px;
    line-height: 28px;
  }
  .latest_blog_box .latest_blog_box_cont a.latest_blog_btn {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (max-width: 991px) {
  .header button.navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
  }
  .header button.navbar-toggler span.fa.fa-reorder {
    color: #ff851b;
  }
  button.navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
  }

  .header .navbar-collapse span.fa.fa-remove {
    color: #fff;
  }

  .header .navbar-collapse button.navbar-toggler {
    position: absolute;
    top: 30px;
    right: 20px;
  }
  .hero_content {
    width: 80vw;
  }
  .about_content {
    padding: 0;
  }
  .new_things_images {
    height: 100%;
  }
  .new_things_images img {
    margin: 0;
  }
  .new_things {
    overflow: hidden;
  }
  .download_app .dowload_app_box_item {
    padding: 30px;
    padding-bottom: 0;
  }
  .download_app .dowload_app_box_item a.dowload_app_box_btn {
    padding: 6px 15px;
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    background: #ff851b;
    height: 100vh;
    z-index: 99;
    width: 50%;
    opacity: 0;
    padding: 20px 0;
    display: block;
    visibility: hidden;
    width: 0;
    transition: 0.3s;
  }
  .header_overlay {
    width: 100%;
    background: rgb(0 0 0 / 50%);
    position: fixed;
    top: 0%;
    left: 0;
    height: 100%;
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;
  }
  .navbar-light .navbar-toggler {
    z-index: 999;
    position: relative;
  }
  .navbar-collapse.show {
    width: 50%;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
  }

  .navbar-collapse ul.navbar-nav {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navbar-collapse ul.navbar-nav li.nav-item .nav-link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: block;
    padding: 12px 15px;
  }

  .navbar-collapse ul.navbar-nav li.nav-item {
    width: 100%;
  }

  .navbar-collapse ul.navbar-nav li.nav-item.active .nav-link {
    background: #fff;
  }

  .navbar-light ul.navbar-nav li.nav-item a.nav-link::before {
    display: none;
  }

  .navbar-light ul.navbar-nav li.nav-item a.nav-link:hover,
  .navbar-collapse ul.navbar-nav li.nav-item.active .nav-link {
    background: #fff;
    color: #ff851b;
  }
  .navbar-light ul.navbar-nav li.nav-item.btn:not(:last-child) a.nav-link {
    padding: 0;
  }
  .navbar-light ul.navbar-nav li.nav-item.btn {
    flex: 0 0 160px;
    width: auto;
    margin-top: 20px;
  }
  .menu_logo {
    display: block;
    z-index: 9;
  }
  .menu_logo a {
    font-size: 22px;
    line-height: 27px;
    padding: 15px 15px 35px;
    display: inline-block;
  }
  .navbar-collapse ul.navbar-nav::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: #ff851b;
    width: 100%;
    height: 100%;
  }
  .navbar-collapse.show .header_overlay {
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
  }
  .navbar-light ul.navbar-nav li.nav-item a.nav-link {
    color: #fff;
  }
  .navbar-light ul.navbar-nav li.nav-item.btn a.nav-link {
    border: none;
  }
  .tittle_cm,
  .heading {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  .cm-btn,
  .download_app .dowload_app_box_item a.dowload_app_box_btn {
    font-size: 15px;
  }
  .download_app .dowload_app_box_cont a.dowload_app_box_btn img {
    margin-right: 8px;
    width: 25px;
  }
  .download_app .dowload_app_box_item .dowload_app_box_cont p {
    padding: 10px 0 20px;
  }
  .download_app .dowload_app_box_cont {
    margin-bottom: 20px;
  }
  .dowload_app_box_cont .heading {
    font-size: 22px;
    line-height: 30px;
  }
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  br {
    display: none;
  }
  .space {
    padding: 40px 0;
  }
  .cmn_heading_area {
    margin-bottom: 20px;
  }
  .header .ticker .title h5,
  .footer_inner p,
  .copyright p,
  .animate_text p,
  .world .world_cont_desc p {
    font-size: 14px;
  }
  .world_cont_title h2.heading {
    margin-bottom: 15px;
  }
  .animate_text {
    bottom: 47px;
    opacity: 1;
    visibility: visible;
  }
  .hero_content h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .header .news-content p,
  .footer_inner .footer_box ul li a,
  .hero_content p,
  .search_bar input.form-control,
  .about_content p,
  .sub_text,
  span.blog_time,
  .latest_blog_box .latest_blog_box_cont p.blog_text,
  .cmn_heading_area .small_desc,
  .download_app .dowload_app_box_item .dowload_app_box_cont p {
    font-size: 13px;
  }
  .hero_content p {
    margin: 0.5em 0em 1.5em;
  }
  .search_bar input.form-control {
    height: 46px;
  }
  .header .ticker .title {
    flex: 0 0 110px;
    padding: 13px 15px;
    margin-bottom: -8px;
  }
  .navbar-collapse.show {
    width: 80%;
  }
  .footer_head,
  .phil_card figcaption,
  .latest_topics_box .latest_topics_box_cont h3.title {
    font-size: 18px;
    line-height: 1.5;
  }
  .phil_card figcaption {
    padding: 10px;
  }
  .about_outer {
    padding: 70px 0 100px;
    background-image: url("../assets/images/mbl_about_bg.png");
  }
  .about_outer .about_img {
    background-size: contain;
    background-position: center;
    padding-left: 0;
  }
  .about_content {
    text-align: center;
  }
  .about_outer .about_img img {
    margin-left: -40px;
  }
  .new_things_images img {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    margin-top: -10%;
  }
  .new_things_images {
    height: 100%;
    padding-bottom: 5em;
  }
  .tittle_cm,
  .heading {
    font-size: 25px;
    line-height: 32px;
  }
  .full_width_topic.latest_topics_box img,
  .latest_topics_box img {
    height: 400px;
  }
  .latest_topics_box .latest_topics_box_cont {
    padding: 20px;
  }
  .ads_img img {
    width: 100%;
  }
  .new_things_images {
    height: 100%;
    text-align: center;
  }
  .world_cont_img {
    margin: 0px -15px;
  }
  .world_cont_img img {
    height: 280px;
    object-fit: cover;
  }
  .company_inner_block .company_image_area {
    order: 1;
  }
  .company_inner_block .company_text_area .info_image {
    text-align: left !important;
  }
  .company_inner_block .company_text_area {
    order: 2;
  }
  .company_inner_block {
    padding-bottom: 25px;
  }
  .company_inner_block .company_image_area .info_image {
    margin-bottom: 20px;
  }
  .company_inner_block .info_content {
    text-align: center;
  }
  .partners ul li {
    flex: 0 0 33.3%;
  }
  .search_results {
    top: 56px;
  }
}
@media screen and (max-width: 575px) {
  .latest_blog_box {
    flex-direction: column;
  }
  .latest_blog_box .latest_blog_img {
    flex: 0 0 100%;
    width: 100%;
  }
  .latest_blog_box .latest_blog_img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  .footer_cmn_block {
    flex: 0 0 100%;
  }

  .search_bar {
    width: auto;
  }
  .search_tags h5 {
    font-size: 15px;
    margin-top: 8px !important;
  }
  .search_tags ul li a {
    font-size: 8px;
  }
  .last_footer_box {
    text-align: left;
  }
  .hero_content h1 {
    font-size: 22px;
    line-height: 32px;
  }
  .search_tags ul {
    margin-top: 0.5em;
  }
  .search_tags ul:nth-child(2) li:nth-child(6),
  .search_tags ul:nth-child(2) li:nth-child(5),
  .search_tags ul:nth-child(3) li:nth-child(5),
  .search_tags ul:nth-child(3) li:nth-child(4),
  .search_tags ul:nth-child(4) li:nth-child(4),
  .search_tags ul:nth-child(4) li:nth-child(3) {
    display: none;
  }
  .search_bar input.form-control {
    height: 40px;
  }
  .app_screen {
    padding: 0;
  }
  .company_inner_block .company_image_area .info_image img {
    width: 270px;
  }
  .partners ul li {
    flex: 0 0 50%;
  }
  .hero_content p {
    display: none;
  }
  .hero_content h1 {
    margin-bottom: 20px;
  }
  .search_results {
    top: 40px;
  }
  .pagination a.page-link.page_link_btn {
    padding: 10px 17px;
    font-size: 13px;
  }
}
/* Responsive Styling End */
